/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE   0
#define ARROW  1
#define CTRL   2
#define BT     3

/ {
    behaviors {
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kp_tog: key_press_toggle_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&tog>;
        };
    };

    macros {
        lctrl_b: tmux_left_control_b {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp B>
                , <&macro_release &kp LCTRL>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "BASE";
            bindings = <
&kp TAB          &kp Q  &kp W  &kp E  &kp R     &kp T              &kp Y           &kp U           &kp I      &kp O     &kp P           &bspc_del
&mt LGUI ESCAPE  &kp A  &kp S  &kp D  &kp F     &kp G              &kp H           &kp J           &kp K      &kp L     &lt ARROW SEMI  &kp SQT
&kp LSHFT        &kp Z  &kp X  &kp C  &kp V     &kp B              &kp N           &kp M           &kp COMMA  &kp DOT   &kp FSLH        &mt RSHFT ENTER
                                      &kp LALT  &mt LCTRL lctrl_b  &lt CTRL SPACE  &lt CTRL ENTER  &kp RCTRL  &kp RALT
            >;
        };

        ARROW {
            display-name = "ARROW";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans     &trans  &trans
                        &trans  &trans  &trans  &trans    &trans    &trans
            >;
        };

        CTRL {
            display-name = "CTRL";
            bindings = <
&kp GRAVE         &kp N1  &kp N2  &kp N3  &kp N4        &kp N5        &kp N6   &kp N7     &kp N8     &kp N9    &kp N0    &bspc_del
&trans            &kp F1  &kp F2  &kp F3  &kp F4        &kp F5        &kp F6   &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp BACKSLASH
&kp_tog LSHFT BT  &kp F7  &kp F8  &kp F9  &kp F10       &kp F11       &kp F12  &trans     &trans     &trans    &trans    &trans
                          &trans  &trans  &kp CAPSLOCK  &kp CAPSLOCK  &trans   &trans
            >;
        };

        BT {
            display-name = "BT";
            bindings = <
&trans    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 5  &trans       &trans  &trans  &trans      &trans  &bt BT_CLR  
&to BASE  &trans        &trans        &trans        &trans        &trans        &bt BT_PREV  &trans  &trans  &bt BT_NXT  &trans  &trans
&trans    &trans        &trans        &trans        &trans        &trans        &trans       &trans  &trans  &trans      &trans  &trans
                                      &trans        &trans        &trans        &trans       &trans  &trans
            >;
        };
    };
};
